<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.user.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.user.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutUser</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.user.LogoutUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.user.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAudiovisualToList</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.user.AddAudiovisualToList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAudiovisualFromList</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.user.RemoveAudiovisualFromList</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>RegisterFilm</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.RegisterFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectAllFilms</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.SelectAllFilms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFilm</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.SearchFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectFilm</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.SelectFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRatingFilm</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.AddRatingFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveRatingFilm</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.RemoveRatingFilm</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutUser</servlet-name>
        <url-pattern>/LogoutUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAudiovisualToList</servlet-name>
        <url-pattern>/AddAudiovisualToList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAudiovisualFromList</servlet-name>
        <url-pattern>/RemoveAudiovisualFromList</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RegisterFilm</servlet-name>
        <url-pattern>/RegisterFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectAllFilms</servlet-name>
        <url-pattern>/SelectAllFilms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFilm</servlet-name>
        <url-pattern>/SearchFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectFilm</servlet-name>
        <url-pattern>/SelectFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRatingFilm</servlet-name>
        <url-pattern>/AddRatingFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveRatingFilm</servlet-name>
        <url-pattern>/RemoveRatingFilm</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>3000</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Overview.jsp</welcome-file>
    </welcome-file-list>
</web-app>
